USE [master]
GO
/****** Object:  Database [PersonsDatabase]    Script Date: 10/9/2026 11:48:13 PM ******/
CREATE DATABASE [PersonsDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonsDatabase', FILENAME = N'C:\Users\gupta\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\PersonsDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonsDatabase_log', FILENAME = N'C:\Users\gupta\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\PersonsDatabase.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonsDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonsDatabase]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/9/2026 11:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 10/9/2026 11:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [uniqueidentifier] NOT NULL,
	[CountryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 10/9/2026 11:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonID] [uniqueidentifier] NOT NULL,
	[CountryID] [uniqueidentifier] NULL,
	[PersonName] [nvarchar](40) NULL,
	[Email] [nvarchar](40) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Address] [nvarchar](200) NULL,
	[ReceiveNewsLetters] [bit] NOT NULL,
	[TaxIdentificationNumber] [varchar](8) NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Persons] ADD  DEFAULT ('ABC12345') FOR [TaxIdentificationNumber]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CHK_TIN] CHECK  ((len([TaxIdentificationNumber])=(8)))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CHK_TIN]
GO
/****** Object:  StoredProcedure [dbo].[GetAllPersons]    Script Date: 10/9/2026 11:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPersons]
                                            AS BEGIN
                                                SELECT PersonID, PersonName, Email, DateOfBirth, Gender, CountryID, Address, ReceiveNewsLetters FROM [dbo].[Persons];
                                            END
GO
/****** Object:  StoredProcedure [dbo].[InsertPerson]    Script Date: 10/9/2026 11:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPerson]
                                        (@PersonID uniqueidentifier, @CountryID uniqueidentifier, @PersonName nvarchar(40), @Email nvarchar(40), @Gender nvarchar(10), @DateOfBirth datetime2(7), @Address nvarchar(200), @ReceiveNewsLetters bit)
                                            AS BEGIN
                                                INSERT INTO [dbo].[Persons] (PersonID, CountryID, PersonName, Email, Gender, DateOfBirth, Address, ReceiveNewsLetters)
                                                VALUES (@PersonID, @CountryID, @PersonName, @Email, @Gender, @DateOfBirth, @Address, @ReceiveNewsLetters);
                                            END
GO
USE [master]
GO
